{% extends 'base.html' %}

{% block content %}
<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<a class="btn btn-primary" href="{% url 'upload' %}">主页</a>

<br>
<br>
<a class="btn btn-primary" href="{% url 'detail' 1 %}">浏览PICKLIST</a>

<br>
<br>

<script type="text/javascript">
    function goToPage(){
        var page=document.getElementById('in').value; // value of input box
        page=page*1; // ensures page is numeric only
        location.href='https://picklist-app.herokuapp.com/pack/'+page; // redirect to new url
    }
</script>
<input type="text" id="in"/>
<input type="button" onclick="goToPage();" value="搜索页数"/>

<br>
<br>

<table>
    <tr>
        <th>串号</th>
        <th>订单号</th>
        <th>sku</th>
        <th>数量</th>
        <th>状态</th>
        <th>备注</th>

    </tr>
    {% for order in sorted %}
    <tr>
        <td>{{ order.batch_id }}</td>
        <td>{{ order.order_number }}</td>
        <td>{{ order.sku }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.picked }}</td>
        <td>{{ order.notes }}</td>

    </tr>
    {% endfor %}
</table>
<br>
<br>


{% endblock %}