{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'upload' %}">HOME</a>

<br>
<br>

<script type="text/javascript">
    function goToPage(){
        var page=document.getElementById('in').value; // value of input box
        page=page*1; // ensures page is numeric only
        location.href='https://picklist-app.herokuapp.com/pack/'+page; // redirect to new url
    }
</script>
<input type="text" id="in"/>
<input type="button" onclick="goToPage();" value="Go to this order"/>
<br>


<ul>
    <li>Batch ID: {{ order.batch_id }}</li>
    <li>Order Number: {{ order.order_number }}</li>
    <li>SKU: {{ order.sku }}</li>
    <li>Quantity: {{ order.quantity }}</li>

</ul>

<a class="btn btn-delete" href="{% url 'detail' prev %}">PREV</a>
<a class="btn btn-primary" href="{% url 'detail' next %}">NEXT</a>



{% endblock %}