{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'upload' %}">主页</a>

<br>
<br>

<ul>
    <li>串号: {{ order.batch_id }}</li>
    <li>SKU: <a href="{% url 'sku' sku %}">{{ order.sku }}</a></li>
    <li>数量: {{ order.quantity }}</li>
    <li>状态: {{ order.picked }}</li>

</ul>

<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

<br>


{{ number }} / {{ total }}

<br>
<br>
<a class="btn btn-delete" href="{% url 'detail' prev %}">上一单</a>
<a class="btn btn-primary" href="{% url 'detail' next %}">下一单</a>



{% endblock %}