{% extends 'base.html' %}

{% block content %}
{% if messages %}
{%for message in messages%}


<div class="alert alert-{{ message.tags }}" role="alert">
    <p{% if message.tags %} class=""{% endif %}> {{ message }}</p>
</div>

{%endfor%}
{% endif %}

<form method='post' enctype="multipart/form-data">
    {% csrf_token %}

    <input type="file" name="myfile">
    <button type="submit">上传</button>
</form>

<br>
<br>

<script type="text/javascript">
    function goToPage(){
        var page=document.getElementById('in').value; // value of input box
        location.href='https://picklist-app.herokuapp.com/pack/page/'+page; // redirect to new url
    }
</script>
<input type="text" id="in"/>
<input type="button" onclick="goToPage();" value="搜索订单号"/>

<br>
<br>


<a class="btn btn-primary" href="{% url 'all' %}">所有上传订单</a>
<a class="btn btn-primary" onclick="return confirm('确认删除所有订单?')" href="{% url 'delete' %}">删除所有订单</a>
<br>
<br>
<a class="btn btn-primary" href="{% url 'download' %}">下载出库表</a>
{% endblock %}

<a class="btn btn-primary" href="{% url 'download' %}">下载出库表</a>

<br>
<br>

<a class="btn btn-primary" href="{% url 'dict' %}">产品字典</a>