{% extends 'base.html' %}

{% block content %}
{% if messages %}
{%for message in messages%}



<div class="alert alert-{{ message.tags }}" role="alert">
    <p{% if message.tags %} class=""{% endif %}> {{ message }}</p>
</div>

{%endfor%}
{% endif %}

<form method='post' enctype="multipart/form-data">
    {% csrf_token %}

    <input type="file" name="myfile">
    <button type="submit">上传</button>
</form>

<br>
<a class="btn btn-primary" href="{% url 'all' %}">所有上传订单</a>

<br>
<br>

<script type="text/javascript">
    function goToPage(){
        var page=document.getElementById('in').value; // value of input box
        page=page*1; // ensures page is numeric only
        location.href='https://picklist-app.herokuapp.com/pack/'+page; // redirect to new url
    }
</script>
<input type="text" id="in"/>
<input type="button" onclick="goToPage();" value="搜索"/>

{% endblock %}